<div class="top-container">
  <%= render partial: 'shared/main_header' %>
</div>
<!-- Blogのメインコンテンツエリア -->
<div class="page-home">
</div>
<div class='side-manu'>
  <div class='menu-content'>
    <%= link_to '記事を投稿'%>
  </div>

  <div class='menu-search'>
    <%= link_to '記事を検索'%>
  </div>

  <div class='menu-content'>
    <%= link_to 'マイページ'%>
  </div>

  <div class='menu-content'>
    <%= link_to 'ログアウト'%>
  </div>
</div>

<footer>
</footer>
