<div class="top-container">
  <%= render partial: 'shared/main_header' %>
</div>
<!-- Blogのメインコンテンツエリア -->
<main id="main" class="l-container clearfix">
	<div class="l-content">
		<div class="row">
      <div class="row-content picks">
        <div class="row-content__item wrap">
          <div class="thumbnail">
            <%= image_tag "cooking１.jpg" %>
            <%# <%= link_to root_path do %>
          </div>
          <h2 class="title">
            <%= link_to '#' do %>
              【料理初心者向け】
              <br>料理学習の始め方
              <br>【３ヶ月で達成できる】
            <% end %>
          </h2>
          <div class="readmore">
            <%= link_to 'READ MORE'%>
          </div>
        </div>
        <div class="row-content__item wrap center">
          <div class="thumbnail">
            <%= image_tag "program1.jpg" %>
            <%# <%= link_to root_path do %>
          </div>
          <h2 class="title">
            <%= link_to '#' do %>
              プログラミングスクール学習
              <br>→就職までの道のり
              <br>【体験談】【インタビュー】
            <% end %>
          </h2>
          <div class="readmore">
            <%= link_to 'READ MORE'%>
          </div>
        </div>
        <div class="row-content__item wrap center">
          <div class="thumbnail">
            <%= image_tag "douga3.jpg" %>
            <%# <%= link_to root_path do %>
          </div>
          <h2 class="title">
            <%= link_to '#' do %>
              人生初の動画編集での、
              <br>裏側を書く
              <br>【仕事ができる学生の特徴】
            <% end %>
          </h2>
          <div class="readmore">
            <%= link_to 'READ MORE'%>
          </div>
        </div>
      </div>
      <!-- articleタグのマークアップ -->
      <article class="itemscope">
        <section>
          <!-- 本文の表示 -->
          <div class="middle-content articlebody">
            <div class="middle-content__item wrap">
              <p class="meta">
                <time itemprop="datePublished">2020/03/31</time>
                <time itemprop="dateModified">(更新日: 2020/04/06)</time>
              </p>
              <!-- タイトル表示 -->
              <h2 class="title">
                <%= link_to '#' do %>
                  【元コストコ店員さん登場】
                  <br>知らなかった商品＆ワザあり
                  <br>【ポイントいっぱいの大量購入品を紹介】
                <% end %>
              </h2>
              <p class="cat">
                <%= link_to '#' do %>
                  料理
                <% end %>
                <%= link_to '#' do %>
                  食べる
                <% end %>
              </p>
              <!-- サムネイルの表示 -->
              <div class="thumbnail">
                <%= link_to root_path,class:"cookingtag" do %>
                  <%= image_tag "cook2.jpg" %>
                <% end %>
              </div>
              <!-- ディスクリプションの表示 -->
              <p class="description">
                可愛くて機能的なエプロンが欲しい！
                かわいい食器を集めたい
                得意料理は煮物と答えた  い…
                ズボラ飯と丁寧飯を作れるようになりたい。
                健康的な食生活に…。
              </p>
              <div class="readmore">
                <%= link_to 'READ MORE'%>
              </div>
            </div>
            <div class="middle-content_item navigation">
              <div class="pull-left">
                <%= link_to '#' do %>
                <i class="fas fa-chevron-left"></i>
                  前のページ
                <% end %>
              </div>
              <div class="pull-right">
                <%= link_to '#' do %>
                  次のページ
                <i class="fas fa-chevron-right"></i>
                <% end %>
              </div>
            </div>
          </div>
        </section>
      </article>
      <%= render partial: 'shared/sidebar'%>
    </div>
  </div>
</main>

<footer>
</footer>
