<aside class="sidebar" id="sidebar">
  <div class="middle-content author">
    <% if user_signed_in? %>
      <div class="usericon">
        <% if current_user.icon.nil? %>
          <%= image_tag "mrkr-icon.png" %>
        <% else %>
          <%= image_tag current_user.icon %>
        <% end %>
      </div>
    <% else %>
      <%= image_tag "mrkr-icon.png" %>
    <% end %>
    <h4>
      <span>カオ</span>
    </h4>
    <hr>
    <p>
      料理・プログラミングを愛しております,転職活動内容も発信,経歴：派遣事務→正社員事務9年→派遣経理（今ココ）→TECH56期卒業
      /働きながら転職活動しながら個人アプリ作成中,
      HTML/CSS/Javascript/Rudy/Rails
    </p>
    <div class="side-menu">
      <div class='menu-content'>
        <%= link_to '記事を投稿'%>
        <i class="fas fa-chevron-right"></i>
      </div>
      <div class='menu-search'>
        <%= link_to '記事を検索'%>
        <i class="fas fa-chevron-right"></i>
      </div>
      <div class='menu-content'>
        <% if user_signed_in? %>
          <%= link_to 'マイページ'%>
          <i class="fas fa-chevron-right"></i>
          </div>
        <% else %>
          <%= link_to 'ログイン', user_session_path%>
          <i class="fas fa-chevron-right"></i>
        <% end %>
      </div>
      <div class='menu-content'>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete%>
        <i class="fas fa-chevron-right"></i>
      </div>
    </div>
  </div>
</aside>