<div class="top-container">
  <header class="main-header">
    <h1 id= "header-logo" class= "header-logo">
      <%= link_to root_path do %>
      <span><a href="https://fontmeme.com/ja/font-trolls/"><img src="https://fontmeme.com/permalink/200314/a99fd491f62f75c89ee2d828e5ec7f83.png" alt="font-trolls" border="0"></a></span>
      <% end %>
    </h1>
    <nav id="gnavi-pc" class="gnavi-pc">
      <ul class="image-gallery">
        <li>
          <%= link_to root_path do %>イメージギャラリー
          <span>Image</span>
          <% end %>
        </li>
        <li class="customer-voices">
          <%= link_to root_path do %>お客様の声
          <span>Voice</span>
          <% end %>
          <ul class="sub-menu">
            <li>
              <%= link_to root_path do %>京都のモノ
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>お部屋
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>お食事
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>ご宿泊プラン
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>周辺案内
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>施設紹介
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>地図・アクセス
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>お客様の声
              <% end %>
            </li>
          </ul>
        </li>
        <li class="bookingnow">
          <%= link_to root_path do %>ご予約
          <span>bookingnow</span>
          <% end %>
        </li>
      </ul>
    </nav>
    <div class="header-icon">
      <ul class="clearfix">
        <li class="base">
        </li>
        <li class="cart">
          <%= link_to root_path do %>
          <i class="fas fa-shopping-cart"></i>	
          <% end %>
        </li>
      </ul>
    </div>
    <%# 隠しメニューが非表示の時に使うclass %>
    <%# <div id="mobile-menu-toggle" class="mobile-menu-toggle">
      <img src="//youange.com/shop/images/mobile-menu-toggle.png">
    </div> %>
    <%# 隠しメニューが表示された時に使うclass %>
    <div class="mobile-menu-wrap">
      <nav class="gnavi-sp" id="gnavi-sp">
        <ul class="menu">
          <li>
            <%= link_to root_path do %>HOW TO USE
            <% end %>
            <ul class="sub-menu">
              <li>
                <%= link_to root_path do %>客室紹介
                <% end %>
              </li>
              <li>
                <%= link_to root_path do %>Restaurant 祇園
                <% end %>
              </li>
              <li>
                <%= link_to root_path do %>過ごし方
                <% end %>
              </li>
              <li>
                <%= link_to root_path do %>周辺案内
                <% end %>
              </li>
              <li>
                <%= link_to root_path do %>施設紹介
                <% end %>
              </li>
            </ul>
          </li>
      </nav>
    </div>

    <div class="hamburger" id="js-hamburger" onclick="toggleNav()">
      <p>MENU</p>
      <span class="hamburger__line hamburger__line--1"></span>
      <span class="hamburger__line hamburger__line--2"></span>
      <span class="hamburger__line hamburger__line--3"></span>
    </div>
    <div class="black-bg" id="js-black-bg"></div>
  </header>
  <div class="page-home">
  </div>
</div>