<div class="top-container">
  <header class="main-header">
    <h1 id= "header-logo" class= "header-logo">
      <%= link_to root_path do %>
        <span>youange</span>
      <% end %>
    </h1>
    <nav id="gnavi-pc" class="gnavi-pc">
      <ul class="f01">
        <li>
          <%= link_to root_path do %>CONCEPT
          <% end %>
        </li>
        <li>
          <%= link_to root_path do %>ITEMS
          <% end %>
          <ul class="sub-menu">
            <li>
              <%= link_to root_path do %>限定商品
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>定期購入
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>クレンジング
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>洗顔
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>化粧水
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>乳液
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>美容液
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>ボディクリーム
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="header-icon">
      <ul class="clearfix">
        <li class="base">
        </li>
        <li class="cart">
          <%= link_to root_path do %>
          <i class="fas fa-shopping-cart"></i>	
          <% end %>
        </li>
      </ul>
    </div>
    <%# 隠しメニューが非表示の時に使うclass %>
    <%# <div id="mobile-menu-toggle" class="mobile-menu-toggle">
      <img src="//youange.com/shop/images/mobile-menu-toggle.png">
    </div> %>
    <%# 隠しメニューが表示された時に使うclass %>
    <div class="mobile-menu-wrap">
      <nav class="gnavi-sp" id="gnavi-sp">
        <ul class="menu">
          <li>
            <%= link_to root_path do %>HOW TO USE
            <% end %>
            <ul class="sub-menu">
              <li>
                <%= link_to root_path do %>クレンジング
                <% end %>
              </li>
              <li>
                <%= link_to root_path do %>洗顔
                <% end %>
              </li>
              <li>
                <%= link_to root_path do %>化粧水
                <% end %>
              </li>
              <li>
                <%= link_to root_path do %>乳液
                <% end %>
              </li>
              <li>
                <%= link_to root_path do %>美容液
                <% end %>
              </li>
            </ul>
          </li>
      </nav>
    </div>

    <div class="hamburger" id="js-hamburger" onclick="toggleNav()">
      <span class="hamburger__line hamburger__line--1"></span>
      <span class="hamburger__line hamburger__line--2"></span>
      <span class="hamburger__line hamburger__line--3"></span>
    </div>
    <div class="black-bg" id="js-black-bg"></div>
  </header>
  <div class="page-home">
  </div>
</div>