<div class='signup-container'>
  <div class='signup-header'>
    <%= link_to root_path do %>
      <%= image_tag 'signup1.png'%>
    <% end %>
  </div>
  <div class='signup-content'>
  <h2>新規登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.label :ニックネーム %><br />
      <%= f.text_field :name, placeholder: 'nickname', class: 'input-field' %>
    </div>
    <div class="field">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, placeholder: 'mail-address', class: 'input-field' %>
    </div>

    <div class="field">
      <%= f.label :パスワード %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, placeholder: 'password', class: 'input-field' %>
    </div>

    <div class="field">
      <%= f.label :パスワード（確認） %><br />
      <%= f.password_field :password_confirmation,placeholder: 'password', class: 'input-field' %>
    </div>
    <div class="field">
      <%= f.label :アイコン %><br />
      <%= f.file_field :icon %>
    </div>

    <div class="actions">
      <%= f.submit "新規登録" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>